In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
navegador = webdriver.Chrome()
navegador.get('https://www.google.com.br/')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do dollar")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar=navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print("Dollar",cotacao_dolar)
navegador.get('https://www.google.com.br/')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do euro")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro=navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print("Euro",cotacao_euro)
navegador.get('https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20304%2C29.')
cotacao_ouro=navegador.find_element_by_xpath('/html/body/div[6]/div[1]/div/div/input[2]').get_attribute('value')
#navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#cotacao_ouro=navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
#cotacao_ouro.read_excel
cotacao_ouro=cotacao_ouro.replace(",",".")
print("Ouro",cotacao_ouro)
df = pd.read_excel("Produtos.xlsx")
#display(df)
df.loc[df["Moeda"]=="Dólar","Cotação"]=float(cotacao_dolar)
df.loc[df["Moeda"]=="Euro","Cotação"]=float(cotacao_euro)
df.loc[df["Moeda"]=="Ouro","Cotação"]=float(cotacao_ouro)
#display(df)
df["Preço Base Reais"]=df["Cotação"]*df["Preço Base Original"]
df["Preço Final"]=df["Ajuste"]*df["Preço Base Reais"]
df["Preço Final"]=df["Preço Final"].map("{:.2f}".format)
display(df)
df.to_excel("Produtos.xlsx",index=False)

Dollar 5.438336
Euro 6.53685268
Ouro 309.14

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.438336,5438.281617,1.40,7613.59
1,Carro Renault,4500.00,Euro,6.536853,29415.837060,2.00,58831.67
2,Notebook Dell,899.99,Dólar,5.438336,4894.448017,1.70,8320.56
3,IPhone,799.00,Dólar,5.438336,4345.230464,1.70,7386.89
4,Carro Fiat,3000.00,Euro,6.536853,19610.558040,1.90,37260.06
5,Celular Xiaomi,480.48,Dólar,5.438336,2613.011681,2.00,5226.02
6,Joia 20g,20.00,Ouro,309.140000,6182.800000,1.15,7110.22